body {
  margin: 0px;
  padding: 0px;
  background-image: url("books.jpg");
  font-family: 'Baloo Bhaina 2';
  background-size: cover;
  font-weight: bold;
}
.left {
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  top: 5%;
  left: 4%;
}
.mid {
  /* border: 1px solid black; */
  display:block;
  width: 468px;
  margin: 1.8% auto;
  text-align: center;
    font-size: 30px;
    position: absolute;
    top: 31%;
    left: 33%;
    font-style: italic;
}
.right {
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 2%;
}
header{
    padding-top: 17px;
    
}
.forms ul li{
    float: left;
    list-style: none;
    padding: 0px 81px;
    /* text-align: center; */
}
.nav a{
    text-decoration: none;
    padding: 2px 2px;
    color: black;
    
}
.nav a:hover{
    color: rgb(135, 132, 129);
    text-decoration: underline;
    transition:  .2s ;
}
.left .logo
{
    width: 100px;
    height: 69px;
    
}
.quote h1{
    font-family: 'Caveat';
    font-size: 49px;
    position: absolute;
    top: 85%;
    color: black;
    left: 0%;
    color: #000000ab;
}
.left p{
    position: absolute;
    top: 66%;
    left: 2%;
    width: max-content;
    /* border: 1px solid black; */
    border-radius: 20px;
    
}

.form2 input{
    margin-top: 18px;
    width: 283px;
    text-align: center;
    display: block;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: red;
    text-rendering: inherit;
    padding-left: 6.7%;
    
}
.form2{
    position: absolute;
    top: 40%;
    right: 9%;
    border: 3px solid black;
    border-radius: 13px;
    width: 304px;
    /* background-color: #afa5a5; */
    

}
#btn,#rst
{
    background-color:grey;
    color: black;
    width: 100%;
    border-radius: 10px;
    height: 37px;
}
#rst:hover,#btn:hover{
    background-color: #90938f;
    transition: .53s;
    text-decoration: underline;
    cursor: pointer;

}
#intro
{
    color: black;
    text-align: center;
    font-size: larger;
}
#home
{
    position: absolute;
    left: 9%;
    top: 46%;
    display: inline-block;
}
#main ul{
    display: none;
}
.nav a :hover .sub1 
{
    display: block;
}
]


    

